<div class="advanced-div text-center">

    <h3 class="fw-bold">Advanced Statistics</h3>
    <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>

</div>

<div class="row justify-content-between px-5">

    <div class="col-md-4">
        <app-stat img="assets/icon-brand-recognition.svg" label="Brand Recognition" description="Boost your brand recognition with each click. Generic links don’t
mean a thing. Branded links help instil confidence in your content."></app-stat>
    </div>

    <div class="col-md-4 my-md-2 my-5">
        <app-stat img="assets/icon-detailed-records.svg" label="Detailed Records" description="Gain insights into who is clicking your links. Knowing when and where
people engage with your content helps inform better decisions."></app-stat>
    </div>

    <div class="col-md-4 my-md-4">
        <app-stat img="assets/icon-fully-customizable.svg" label="Fully Customizable" description="Improve brand awareness and content discoverability through customizable
links, supercharging audience engagement."></app-stat>
    </div>

</div>