<div class="row ps-5 my-5 align-items-center">
    <div class="col-md-6">
        <h1 class="fw-bold fs-0 about">
            More than just shorter links
        </h1>

        <h2 class="text-secondary">
            Build your brand’s recognition and get detailed insights
            on how your links are performing.
        </h2>

        <div class="w-50">
            <app-get-started-btn></app-get-started-btn>
        </div>
    </div>
    <img class="col-md-6 img-fluid" src="assets/illustration-working.svg" alt="working desktop">
</div>