<div class="bg-div row py-5 px-5">
 
    <div class="col-1">

        <img src="assets/logo-white.svg" alt="shortly logo">
    </div>
    <div class="col-md-2 offset-md-2">
        <p class="fw-bold text-white mb-2">Features</p>
        <p class="fw-bold text-secondary">Link Shortening</p>
        <p class="fw-bold text-secondary">Branded Links</p>
        <p class="fw-bold text-secondary">Analytics</p>
    </div>
    <div class="col-md-2">
        <p class="fw-bold text-white mb-2">Resources</p>
        <p class="fw-bold text-secondary">Blog</p>
        <p class="fw-bold text-secondary">Developers</p>
        <p class="fw-bold text-secondary">Support</p>
    </div>
    <div class="col-md-2">
        <p class="fw-bold text-white mb-2">Company</p>
        <p class="fw-bold text-secondary">About</p>
        <p class="fw-bold text-secondary">Our Team</p>
        <p class="fw-bold text-secondary">Careers</p>
        <p class="fw-bold text-secondary">Contact</p>
    </div>


    <div class="col-md-3 ">

        <img class="me-2" src="assets/icon-facebook.svg" alt="facebook">
        <img class="me-2" src="assets/icon-twitter.svg" alt="twitter">
        <img class="me-2" src="assets/icon-pinterest.svg" alt="pinterest">
        <img src="assets/icon-instagram.svg" alt="instagram">

    </div>
</div>